
<div class="po-page-header">
  <span class="Exportar-SAF-T-PT">
    Exportar SAF-T PT
  </span>
</div>


<div class="po-page-content" style="height: 871px; opacity:1;">
  <po-container [p-no-border]="true">
    <div class="po-container">
      <span class="O-SAF-T-PT-facilita">O SAF-T PT facilita a recolha em formato electrónico dos seus dados fiscais para suporte das declarações fiscais dos contribuintes e/ou para a análise dos registros contabilísticos, ou de outros com relevância fiscal.</span>
    </div>
</po-container>



  <div class="po-pt-2">
    <form [formGroup]="saftForm">
      <po-container [p-no-border]="true">
        <div class="po-container">
          <po-divider p-label="Documentos de faturação, orçamentos e encomendas"></po-divider>

          <div class="form-group d-flex align-items-end po-pb-2">
            <po-datepicker
              formControlName="datainicial"
              class="po-sm-3"
              p-label="Período de Vigência"
              p-placeholder="Data inicial" >
            </po-datepicker>

            <span class="text-align text-description">a</span>

            <po-datepicker
              formControlName="datafinal"
              class="po-sm-3"
              p-placeholder="Data final" >
            </po-datepicker>

            <po-email
              formControlName="email"
              class="po-sm-3"
              p-label="E-mails para envio"
              p-placeholder="Insira o seu e-mail">
            </po-email>

            <po-button
              p-icon="po-icon-download"
              p-label="Exportar SAF-T"
              class="po-sm-3 button-position">
            </po-button>
          </div>
        </div>

        <div class="po-pt-2">
          <div class="btn po-mr-2 icon-color po-pt-1">
            <div class="po-icon po-icon-chat po-pt-2 po-pl-2">
              <span class="po-row po-pt-1 po-font-text-bold">
                Método de comunicação
              </span>
              <span class="po-row po-pt-1 po-font-text-small">
                Definir comunicação com a Autoridade Tributária
              </span>
            </div>
          </div>
        </div>
      </po-container>
    </form>
  </div>



</div>




